<nav>
  <div class="">
    <a href="/"><h1>Bloggis</h1></a>
  </div>
  <ul>
    <li><a href="/myBlogs">Min side</a></li>
      <li><a class="d-none veileder" href="/veileder">Veileder</a></li>
    <li><button class="logout btn btn-dark d-none">Logg ut</button></li>
  </ul>
</nav>
