<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <button id="tryLike">LIKE</button>

    <div id="blogs">
     
    
    </div>


  </body>
</html>